<div class="container text-center">
  <div class="container" id="ask-container">
  <form action="/answer" id="question-form">
    <label for="question">Speak to your coach</label>
    <input type="text" class="question-form" id="question" name="query" placeholder="what time is it?">
    <input type="submit" class="btn btn-primary" value="Go on!">
  </form>
  </div>
</div>
